.App {
  background-color: var(--background-dark);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: var(--primary);
  margin: 0;
  padding: .5em 0;
  text-align: center;
}

h1 {
  font-size: 50px;
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.Header {
  width: 100%;
}

.projects {
  color: var(--primary);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  overflow: none;
}

.project {
  background-color: var(--background);
  border: .2em solid var(--primary-dark);
  border-radius: .7em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  padding: .5em;
  max-width: min(90%, 20em);
  opacity: 0;
}

.project-visible {
  animation: slideFromBottom ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}

.project:hover {
  transition: 0.5s ease-out;
  background-color: var(--background-light);
}

.project-title {
  font-weight: 700;
  font-size: 1.75em;
}

.project-description {
  margin-top: .5em;
  margin-bottom: .75em;
}

.project-button {
  border: .15em solid var(--primary);
  border-radius: .5em;
  padding: .2em;
  margin-bottom: .5em;
  cursor: pointer;
  user-select: none;
}

.project-button:hover {
  color: var(--background);
  background-color: var(--primary);
  font-weight: 600;
  transition: 0.2s ease-out;
}

.project-button:active {
  color: var(--background);
  border-color: var(--primary-dark);
  background-color: var(--primary-dark);
  font-weight: 600;
  transition: none;
}

.hidden {
  opacity: 0;
}